<div class="resume">
    <div class="personalInfo">
      <h1>Morgan Christensen</h1>
      <address>3460 NW Lakewood Ln, Ankeny, Iowa<br>(712) 304-5478<br> morganlchristensen18@gmail.com</address>
    </div>
    
    <div class="summary">
      <h2>Summary</h2>
      <p>Junior software developer with an interest in development architecture, Artificial Intelligence programing, and cybersecurity to help the agricultural industry advance.
        Available to work part-time or full-time while finishing bachelor’s degree.
      </p>
    </div>
    
    <div class="education">
      <h2>Education</h2>
      <p>Western Governor’s University <span class="educationDates">03/01/23 - 11/30/23</span><br />
        Bachelor of Science, Software Engineering
      </p>
      <ul>
        <li>GPA: Projected September 2023</li>
    </ul>
      <p>Des Moines Area Community College <span class="educationDates">08/23/20 - 12/15/22</span><br />
        Associates of Applied Science, Cybersecurity
        Dimploma, Computer Languages
      </p>
      <ul>
        <li>GPA: 3.11/4.0</li>
    </ul>
    </div>
    
    <div class="experience">
      <h2>Experience</h2>
      <p>State of Iowa: Information Security Division, <br>Administrative Intern/Procedural Documenter <span class="employmentDates">01/28 - Present</span></p>
       <ul>
         <li>Drive closure of globally reported issue tickets</li>
         <li>Coordinated cybersecurity awareness program(Hyperstream) to local highschool student</li>
         <li>Migrate old processes to new programs with custom scripts</li>
         <li>Coordinate with customers to troubleshoot and update systems</li>
       </ul>
       <p>Accenture, Analyst Intern <span class="employmentDates">Spring 2021</span></p>
       <ul>
         <li>Supported code migrations into upper branches using Jenkins CI tool to generate and run preset scripts</li>
         <li>Utilized Linux command line to access python script to edit properties and redeploy components</li>
         <li>Received training in Amazon AWS</li>
         <li>Contributed to daily scrum meeting with personal team and project team</li>
       </ul>
    </div>
  </div>
