<!-- * * * * * * * * * Morgan Chirstensen First Angular App * * * * * * * * * * * * * * * * * -->
<!--* * * * * * * * * * * * * * * * * * 06/02/23 * * * * * * * * * * * * * * * * * * * * * * *-->
<nav id="nav-bar">
  <ul>
    <li><a class="menuItm" href="/home">Home</a></li>
    <li><a class="menuItm" href="/services">Services</a></li>
    <li><a class="menuItm" href="/projects">Projects</a></li>
    <li><a class="menuItm" href="/contact">Contact</a></li>
  </ul>
</nav>
<router-outlet></router-outlet>
